# Importing the Libraries

In [0]:
import tweepy
import json
import sys
import pandas as pd

# Twitter API credentials

In [0]:
consumer_key = "rtcVV4HLOc3ZvovsuIQxhSkiU" 
consumer_secret = "Kj8sOJlSjMiqkwICpffNu7EBuPcpntnRhDvq1uol8asYiYtNHC"
access_key = "1114438546176086016-koTxShtGuoKyKfhK2RXsDYN2UU7Vg4"
access_secret = "PjxCQo2XtQVTYtcOhN6cZG8TmmoPCpqga9fN1V3jJ7prb"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth)

# Code to Extract tweets using user_timeline

In [0]:
screen_name="midasIIITD"
# initialize a list to hold all the tweepy Tweets
alltweets = []

# make initial request for most recent tweets
new_tweets = api.user_timeline(screen_name = screen_name,count=100,tweet_mode='extended')

# save most recent tweets
alltweets.extend(new_tweets)

# save the id of the oldest tweet less one
oldest = alltweets[-1].id - 1

# keep grabbing tweets until there are no tweets left to grab
while len(new_tweets) > 0:

  #all subsiquent requests use the max_id param to prevent duplicates
  new_tweets = api.user_timeline(screen_name = screen_name,count=199,max_id=oldest,tweet_mode='extended')

  #save most recent tweets
  alltweets.extend(new_tweets)

  #update the id of the oldest tweet less one
  oldest = alltweets[-1].id - 1

# print total tweets fetched from given screen name
print("Total tweets downloaded from", screen_name,"are",len(alltweets))

Total tweets downloaded from midasIIITD are 342

# Function to store tweets in JSON File

In [0]:
def write_tweets(tweets, filename):
    ''' Function that appends tweets to a file. '''

    with open(filename, 'w') as f:
        for tweet in tweets:
            json.dump(tweet._json, f)
            f.write('\n')
write_tweets(alltweets,"tweet.json")

# Reading JSON File

In [0]:
tweets=[]
with open("tweet.json", 'r') as f:
    for line in f.readlines():
        tweets.append(json.loads(line))

# Extracting the required information and storing in Arrays

In [0]:
text=[]
d_t=[]
r_c=[]
f_c=[]
for i in range(len(tweets)):
  text.append(tweets[i]['full_text'])
  d_t.append(tweets[i]['created_at'])
  f_c.append(tweets[i]['favorite_count'])
  r_c.append(tweets[i]['retweet_count'])

# Making DataFrame to show in Tabular form

In [0]:
df=pd.DataFrame(data={'TEXT':text,'Created At':d_t,'Favorite Count':f_c,'Retweet Count':r_c})

In [0]:
df.head(10)

,Created At,Favorite Count,Retweet Count,TEXT
0,Tue Apr 09 16:45:07 +0000 2019,0,9,RT @IIITDelhi: We are delighted to share that ...
1,Tue Apr 09 05:04:27 +0000 2019,0,35,RT @Harvard: Professor Jelani Nelson founded A...
2,Tue Apr 09 05:04:11 +0000 2019,0,13,RT @emnlp2019: For anyone interested in submit...
3,Mon Apr 08 19:38:09 +0000 2019,0,15,RT @multimediaeval: Announcing the 2019 MediaE...
4,Mon Apr 08 07:08:12 +0000 2019,16,2,"Many Congratulations to @midasIIITD student, S..."
5,Mon Apr 08 03:27:42 +0000 2019,5,0,@midasIIITD thanks all students who have appea...
6,Sun Apr 07 14:17:29 +0000 2019,0,0,"@himanchalchandr Meanwhile, complete CV/NLP ta..."
7,Sun Apr 07 14:17:09 +0000 2019,0,0,@sayangdipto123 Submit as per the guideline ag...
8,Sun Apr 07 11:43:24 +0000 2019,1,1,We request all students whose interview are sc...
9,Sun Apr 07 06:55:19 +0000 2019,5,2,"Other queries: ""none of the Tweeter Apis give ..."

In [0]:
df.shape

(342, 4)